@page "/counter"
@using WebAssemblyWithAPI.Shared
@using WebAssemblyWithAPI.Shared.Queries

@inject IBus Bus

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>@returnValue</p>

@code {
    private int currentCount = 0;
    private string returnValue = "";

    private async void IncrementCount()
    {
        currentCount++;

        var newCount = await Bus.Send(new CounterQuery(currentCount));

        returnValue = $"{newCount.NewCount} from server process '{newCount.ServerProcessName}'";
        StateHasChanged();
 
    }

    
}


